* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: auto;
    margin: auto;
    display: center;
    box-sizing: border-box;
 }

 .top-navigation {
    display: flex;
    align-items: center;
    gap: 4.5em;
    background-color: #0b0b45;
}

.top-navigation a {
    text-decoration: none;
    color: white;
    display: flex;
    cursor: pointer;
    gap: 1em;
} 

.top-navigation a:hover {
    color: yellow;
    text-decoration: underline;
}

.text {
    font-size: large;
    -webkit-text-stroke: 1px black;
    text-align: center;
    color: rgb(235, 228, 16);
}

.center {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.center h3 {
    position: relative;
    left: 30px;
    padding: 0 0 20px 0;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid #535353;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #d3d3d3;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span ::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #535353;
    transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
    top: -5px;
    color: #535353;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
    width: 100%;
}

.pass {
    margin: -5px 0 20px 5px;
    color: black;
    cursor: pointer;
    text-align: left;
}

.pass p {
    color: blue;
    position: relative;
    left: 59px;
    display: inline;
    text-align: end;
}

.pass p:hover {
    color: blue;
    text-decoration: underline;
}

input[type="submit"] {
    width: 50%;
    height: 50px;
    border: 1px solid black;
    background: black;
    color: white;
    font-size: 15px;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
}

input[type="button"] {
    position: relative;
    left: -50px;
    width: 50%;
    height: 50px;
    border: 2px solid black;
    background: white;
    color: black;
    font-size: 15px;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;

}

.signup_link p {
    position: relative;
    left: 50px;
    text-decoration: none;
    color: black;
    display: inline;
    text-align: center;
}

.signup_link a {
    position: relative;
    left: 50px;
    text-align: center;
    text-decoration: none;
}

.signup_link a:hover{
    text-decoration: underline;
}

.signup_link h3 {
    position: relative;
    left: -10px;
}