* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0
    font-family: sans-serif;
}

.container {
    width: auto;
    margin: auto;
    display: center;
    box-sizing: border-box;
 }

 .top-navigation {
    display: flex;
    align-items: center;
    gap: 4.5em;
    background-color: #0b0b45;
}

.top-navigation a {
    text-decoration: none;
    color: white;
    display: flex;
    cursor: pointer;
    gap: 1em;
}

.top-navigation a:hover {
    color: yellow;
    text-decoration: underline;
}

h1 {
    position: relative;
    left: 40px;
    font-family: sans-serif;
}

.top-navigation-left {
    position: relative;
    left: 40px;
}

.top-navigation-left a {
    position: relative;
    left: 55px;
    font-size: large;
    font-family: sans-serif;
    color: black;
    text-decoration: none;
}

p {
    position: relative;
    left: 42px;
    color: #535353;
    font-size: large;
    font-family: sans-serif;
}

.row {
    margin: 10px 0;
}

.col1, .col2, .col3 {
    position: relative;
    left: 15px;
    display: table-cell;
}

.col2 {
    position: relative;
    left: 60px;
    top: -230px;
}

.col3 h2 {
    position: relative;
    left: 80px;
    top: -340px;
    font-family: sans-serif;
}

.col3 p {
    position: relative;
    color: blue;
    left: 100px;
    top: -339px;
}

.col3 h1 {
    position: relative;
    left: 95px;
    top: -340px;

}

.col3 h4 {
    position: relative;
    left: 80px;
    top: -320px;
}

.col3 h5 {
    position: relative;
    left: 230px;
    top: -356px;
}

.col3 img {
    position: relative;
    left: 90px;
    top: -330px;
}

form {
    margin: 25px;
}

.container button {
    position: relative;
    width: 150px;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 20px;
    color: black;
    background-color: white;
    box-shadow: 0 8px 5px #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}